body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 5px;
  background-color: #ffe4c4;
  margin: 0 auto;
  flex-direction: row;
  width: 500px;
  height: 500px;
}

.board-tile {
  display: flex;
  background-color: #d2691e;
  margin: 1%;
  text-align: center;
  width: 23%;
  height: 23%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board-tile-correct {
  background-color: burlywood;
}

h2 {
  visibility: hidden;
}

h2.visible {
  visibility: visible;
}

h3 {
  padding: 8px;
  margin:0
}

.player-turn {
  width: 100%;
  text-align: center;
  background-color: #d2691e;
}
.p2-colour {
  background-color: #1ed26988;
}
.p1-colour {
  background-color: #691ed279;
}
.header-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.header-container h1 {
  align-self: center;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score-container h3{
  margin: 10px
}

.turn-container{
  width: 500px;
}

@media screen and (max-width:550px){
  .board-container{
   height: 450px;
   width: 450px;
  }
  .turn-container{
    width: 450px;
  }
}
@media screen and (max-width:500px){
  .board-container{
   height: 400px;
   width: 400px;
  }
  .turn-container{
    width: 400px;
  }
}
@media screen and (max-width:450px){
  h1{
    font-size: 28px;
  }
  .board-container{
   height: 350px;
   width: 350px;
  }
  .turn-container{
    width: 350px;
  }
}
@media screen and (max-width:400px){
  .board-container{
   height: 350px;
   width: 350px;
  }
  .turn-container{
    width: 350px;
  }
}
@media screen and (max-width:370px){
  .board-container{
   height: 330px;
   width: 330px;
  }
  .turn-container{
    width: 330px;
  }
}